
//Импорт файлов//
@import 'corzina';
@import 'variables';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
  transition: all 0.3s ease;
}

a:hover {
  color: $text-color-grey;
  text-decoration: none;
}

button{
  transition: all 0.3s ease;
}

button:hover{
  background-color: $text-color-black;
  color: $text-color-white;
}

.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.top{
    height: 735px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(img/Rectangle15.jpg);
}
.catalog{
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(img/catalog_header.jpeg);
}

body {
  font-family: "Montserrat", sans-serif;
}

.header{
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);

    &__input{
        width: 288px;
        height: 41px;
        box-sizing: border-box;
        border: 1px solid $border-color-white;
        border-radius: 20px;
        background: transparent;
        font: inherit;
        padding-left: 32px;
        padding-right: 32px;

        &::placeholder{
            color: $text-color-white;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0%;
            text-align: left;
        }

        &:focus{
            background-color: $background-color-white;
        }
    }
    .link-corzina{
      position: relative;
    }

    .form-container:hover .corzina-form{
       opacity: 1;
        visibility: visible;
    }
    .corzina-form{
        background-color: #fff;
        box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
        padding: 40px 48px;
        align-items: flex-end;
        z-index: 1;
        max-height: 480px;
        max-width: 573px;
        position: absolute;
        right: 0px;
        top: 37px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }
    .corzina{
      &__item-index{
          border-top: 0.5px solid rgb(202, 205, 216);
          padding-top: 24px;
          padding-bottom: 24px;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          gap: 32px;

          &_1{
            border-top: none;
            padding-top: 0px;
          }
      }
      &__img-index{
        max-width: 144px;
        max-height: 144px;
      }
      &__left-index{
        display: flex;
        gap: 24px;
        width: 358px;
      }
      &__info-index{
        width: 276px;
        display: flex;
        flex-direction: column;
        gap: 12px;
      }
      &__link-box-index{
        display: flex;
        gap: 24px;
        padding-top: 42px;
      }
      &__price-button{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &__form-price-index{
         display: flex;
        justify-content: flex-start;
      }
      &__form-price-text-index{
          color: rgb(0, 0, 0);
          font-family: Montserrat;
          font-size: 24px;
          font-weight: 400;
          line-height: 29px;
          letter-spacing: 0px;
      }
      &__form-price-summ-index{
          color: rgb(0, 0, 0);
          font-family: Montserrat;
          font-size: 24px;
          font-weight: 500;
          line-height: 29px;
          letter-spacing: 0px;
      }
      &__form-button-index{
        box-sizing: border-box;
        border: 1px solid rgb(4, 4, 4);
        border-radius: 20px;
        width: 207px;
        height: 40px;
        margin: auto; 
        color: $text-color-black;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        background-color: transparent;
      }
      &__form-button-index:hover{
        color: $text-color-white;
        background-color: $background-color-black
      }
  }

    &__nav-mobile{
      display: none;
    }

    &__nav-list{
        list-style: none;
        display: flex;
        gap: 32px;  
    }

    &__li{
        float: left; 
    }

    &__nav-link {
        font-size: 16px;
        line-height: 20px;   
        text-decoration: none;
        color: $text-color-white;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: left;

        &:hover{
            text-decoration: underline;
        }
    }


}

.catalog-box{
    margin-top: 128px;
    margin-bottom: 126px;

    &__title{
        color: $tophedercolor;
        font-family: Montserrat;
        font-size: 64px;
        font-weight: 600;
        line-height: 70px;
        letter-spacing: 0%;
        text-align: left;
    }
}

.greeting{
    margin-top: 64px;
    margin-bottom: 367px;


    &__title {
        font-weight: 600;
        line-height: 70px;
        margin-bottom: 16px;
        color: $tophedercolor;
        font-family: Montserrat;
        font-size: 64px;
        letter-spacing: 0%;
        text-align: left;
    }

    &__text{
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 16px;
        color: $text-color-white;
        font-family: Montserrat;
        font-weight: 400;
        letter-spacing: 0%;
        text-align: left;
    }

    &__link{
        font-size: 16px;
        line-height: 24px;
        color: $text-color-white;
        font-family: Montserrat;
        font-weight: 400;
        letter-spacing: 0%;
        text-align: left;
        text-decoration-line: underline;
    }
}
.for-box{
margin-top: 64px;

    &__title{
        color: $text-color-black;
        font-family: Montserrat;
        font-size: 48px;
        font-weight: 600;
        line-height: 59px;
        letter-spacing: 0%;
        text-align: left;
        margin-bottom: 32px;
    }
}

.for{
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);


    &__item{
        height: 415px;
        grid-column: span 4;
        color: $text-color-white;
        font-family: Montserrat;
        font-size: 34px;
        font-weight: 600;
        line-height: 41px;
        display: flex;
        justify-content: center;
        align-items: center;

        &_big{
            grid-column: span 6;
        }

        &_1{
            background-image: url(img/for1.jpeg);
        }

        &_2{
            background-image: url(img/for2.jpeg);
        }

        &_3{
            background-image: url(img/for3.jpeg);
        }

        &_4{
            background-image: url(img/for4.jpeg);
        }

        &_5{
            background-image: url(img/for5.jpeg);
        }
    }
}

.product-box{
    padding-top: 64px;

    &__nav{
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;

        &-link{
            display: flex;
            gap: 10px;

            &-left{
                color: $text-color-black;
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 400; 
                line-height: 32px;
                letter-spacing: 0%;
                text-align: left; 
                text-decoration: none;
            }
        }

        &-filter{
            display: flex;
            gap: 10px;
        }
    }

    
    &__title{
        font-weight: 600;
        line-height: 59px;
        color: $text-color-black;
        font-family: Montserrat;
        font-size: 48px;
        letter-spacing: 0%;
        text-align: left;
        padding-bottom: 32px;
    }
    
}
.filter-button-wrapper{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.filter-button{
    box-sizing: border-box;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 20px;
    background-image: url(img/select.svg);
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    background-color: transparent;
    background-position: calc(100% - 22px);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    padding-left: 23px;
    width: 182px;
    height: 40px;
    padding-top: 9px;
    padding-bottom: 11px;
    position: relative;
}
.filtering-form{
  position: absolute;
  top: calc(100% + 14px);
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 36px;
  background-color: #fff;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
  padding: 40px 48px;
  align-items: flex-end;
  z-index: 1;
  max-height: 548px;
  min-width: 540px;

  &__button{
    width: 190px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgb(4, 4, 4);
    border-radius: 20px;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    background-color: transparent;
  }

  &__content-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 32px 65px;
    max-height: 548px;
    align-content: flex-start;
  }

  &__fieldset{
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 0;
    border: none;
    width: 190px;
  }

  &__legend{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 14px;
  }

  &__legend-delivery{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
  }
}

.radio{
  display: flex; 
  align-items: center;
  gap: 10px;

  &__input {
    display: none; 
  }

  &__label {
    display: flex; 
    align-items: center; 
    cursor: pointer; 
    position: relative;
    padding-left: 30px; 
    font-size: 14px; 

    &::before {
      content: ""; 
      width: 14px; 
      height: 14px; 
      border: 1px solid #888888; 
      border-radius: 50%; 
      position: absolute; 
      left: 0; 
      background-color: #fff; 
    }
  }

  &__input:checked + &__label::before {
    border-color: #000; 
    background-image: url(img/filter.svg);
    background-repeat: no-repeat; 
    background-position: center; 
  }
}

  .range {
    display: flex; 
    flex-direction: column; 
    gap: 14px; 

    &__input {
      width: 190px; 
      height: 10px; 
      overflow: hidden; 
      outline: none; 
    }

    &__input,
    &__input::-webkit-slider-runnable-track,
    &__input::-webkit-slider-thumb {
      -webkit-appearance: none; 
      background: none; 
    }

    &__input::-webkit-slider-runnable-track {
      width: 200px; 
      height: 1px; 
      background: #000; 
    }

    &__input:nth-child(2)::-webkit-slider-runnable-track {
      background: none;
    }

    &__input::-webkit-slider-thumb {
      position: relative; 
      height: 8px;
      width: 8px; 
      margin-top: -4px; 
      background: #000; 
      border: 1px solid #000; 
      border-radius: 25px; 
      cursor: pointer; 
      z-index: 1; 
    }

    &__input::-webkit-slider-thumb:active {
      cursor: grabbing; 
    }

    &__input:nth-child(1)::-webkit-slider-thumb {
      z-index: 2; 
    }

    &__slider {
      font-family: sans-serif; 
      font-size: 14px; 
      position: relative; 
      height: 20px; 
      width: 190px;
      display: inline-block; 
      margin-top: -5px; 
    }

    &__slider input {
      position: absolute; 
    }

    &__label {
      font-size: 14px; 
    }
  }

  .color-options {
    display: flex; 
    flex-wrap: wrap; 
    max-width: 190px; 
    gap: 14px; 

    &__checkbox {
      width: 15px; 
      height: 15px; 
    }
  }

  .checkbox {
    display: flex; 
    align-items: center; 
    gap: 10px; 

    &__input {
      display: none; 
    }

    &__label {
      display: flex; 
      align-items: center; 
      cursor: pointer; 
      position: relative; 
      padding-left: 30px; 
      font-size: 14px; 
    }

    &__label::before {
      content: ""; 
      display: inline-block;
      width: 14px; 
      height: 14px;
      border: 1px solid #888888; 
      position: absolute; 
      left: 0; 
      background-color: #fff; 
    }

    &__input:checked + &__label::before {
      background-image: url(img/filter.svg);
      background-repeat: no-repeat; 
      background-position: center; 
      border-color: #000;
    }

    &__label-white::before {
      background-color: #fff; 
      border-color: #808080;
    }
    &__label-black::before {
      background-color: #000; 
      border-color: #000; 
    }
  
    &__label-gray::before {
      background-color: #737373; 
      border-color: #737373; 
    }
  
    &__label-red::before {
      background-color: #f00; 
      border-color: #f00;
    }
    
    &__label-orange::before {
      background-color: #ff4500; 
      border-color: #ff4500; 
    }
    
    &__label-yellow::before {
      background-color: #ff0; 
      border-color: #ff0; 
    }
    
    &__label-green::before {
      background-color: #008000; 
      border-color: #008000; 
    }
    
    &__label-teal::before {
      background-color: #40e0d0; 
      border-color: #40e0d0; }
    
    &__label-light-blue::before {
      background-color: #009fe3; 
      border-color: #009fe3; 
    }
    
    &__label-blue::before {
      background-color: #00f; 
      border-color: #00f; 
    }
    
    &__label-purple::before {
      background-color: #800080; 
      border-color: #800080; 
    }
    
    &__label-violet::before {
      background-color: #8a2be2; 
      border-color: #8a2be2;
    }
    
    &__label-lavender::before {
      background-color: #d89aff; 
      border-color: #d89aff; 
    }
    
    &__label-pink::before {
      background-color: #ff1493; 
      border-color: #ff1493; 
    }

    &__input:checked + &__label-black::before,
    &__input:checked + &__label-blue::before,
    &__input:checked + &__label-purple::before {
      background-image: url(img/Vector1.svg);
      background-repeat: no-repeat; 
      background-position: center; 
      border-color: #000;
    }
  }

.product-content-index{
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 56px;
}

.product-content-catalog{
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 48px;
}


.product-center{
    width: 378px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.product{
    width: 379px;
    display: flex;
    flex-direction: column;
    position: relative;
    &__img{
        width: 100%;
    }
    &__name{
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 9px;
        margin-top: 10px;
        color: $text-color-black;
        font-family: Montserrat;
        letter-spacing: 0%;
        text-align: left;
    }
    &__text{
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 12px;
        color: $text-color-grey;
        font-family: Montserrat;
        font-weight: 400;
        letter-spacing: 0%;
        text-align: left;
    }

    &__box-priсe{
        display: flex;
        gap: 32px;
    }
    &__priсe{
        color: rgb(5, 5, 5);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
        text-decoration-line: none;

        &_discount{
            color: $text-color-grey;
            font-family: Montserrat;
            font-size: 24px;
            font-weight: 500;
            line-height: 29px;
            letter-spacing: 0%;
            text-align: left;
            text-decoration-line: line-through;
        }
    }

    &__button{
      display: none;
      gap: 24px;
      position: absolute;
      top: 10px;
      right: 10px;
      }


}
    .product:hover .product__button{
      display: flex;
      gap: 24px;
      position: absolute;
      top: 10px;
      right: 10px;
      }
      .product-center:hover .product__button{
      display: flex;
      gap: 24px;
      position: absolute;
      top: 10px;
      right: 10px;
      }

.select{
    box-sizing: border-box;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 20px;
    background-image: url(img/select.svg);
    color: $text-color-black;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    background-position: calc(100% - 22px) ;
    appearance: none;
    background-repeat: no-repeat;
    padding-left: 23px;
    min-width: 227px;
    height: 40px;

    &_filtr{
        width: 182px;
        height: 40px;
    }
    
    &__pop-mobile{
      display: none;
    }
}

.link-box{
    padding-top: 39px;

    &__catalog{
        color: $text-color-black;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
        text-decoration-line: underline;
    }
}

.footer{
    background: #F7F6F6;
    padding-top: 32px;
    padding-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 64px;

    
    &__logo{
        width: 198px;
        height: 44px;
    }

    &__content{
      width: 792px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    &__info{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 130px;
    }

    &__menu{ 
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
       

        &-name{
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
            margin-bottom: 12px;
        }

        &-list{
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        &-link{
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #888888;
            text-decoration: none;
        }
    }

    &__contacts{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 12px;

        &-name{
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
           
        }

        &-link{
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #888888;
            text-decoration: none;
            transition: all 0.3s ease;


        } 
        &-icons{
            display: flex;
            gap: 20px;
            margin-left: 8px;
        }
    }

    &__icons{
          fill: #888888;
          transition: fill 0.3s ease;
        }

    &__icons-link:hover &__icons{
       fill: #000000;
    }
    &__from{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 8px;

        &-text{
          
            color: $text-color-black;
            font-family: Montserrat;
            font-size: 12px;
            font-weight: 400;
            line-height: 15px;
            letter-spacing: 0%;
            text-align: left;
            padding-right: 9px;
        }

        &-email{
            box-sizing: border-box;
            border: 1px solid rgb(196, 196, 196);
            border-radius: 16px;
            background: $background-color-white;
            width: 260px;
            height: 40px;
            padding-left: 17px;  
            padding-right: 17px;  

            &::placeholder{
                color: rgb(196, 196, 196);
                font-family: Montserrat;
                font-size: 12px;
                font-weight: 400;
                line-height: 15px;
                letter-spacing: 0%;
                text-align: left;
            }
        }

        &-button{
            background: rgba(222, 215, 215, 0.41);
            border: 1px solid rgba(222, 215, 215, 0.41);
            box-sizing: border-box;
            border-radius: 16px;
            color: $text-color-black;
            font-family: Montserrat;
            font-size: 12px;
            font-weight: 400;
            line-height: 15px;
            letter-spacing: 0%;
            text-align: left;
            padding-left: 85px ;
          
            width: 260px;
            height: 40px;
        }  
    }
}

//Стили для планшета//
@media (max-width: 1024px){

  .center{
    padding-left: 24px;
    padding-right: 24px;
  }

  .for{
    gap: 30px;
    &__item{
      height: 268px;
    }
  }
  
  .product-content-index{
    column-gap: 29px;
    row-gap: 38px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }

  .product-content-catalog{
    column-gap: 29px;
    row-gap: 30px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }
  .product{
    max-width: 378px;
    width: 100%;
    grid-column: span 4;
  }
    .product-center{
    max-width: 378px;
    width: 100%;
    grid-column: span 4;
  }

  .footer{

    &__logo{
      display: none;
    }
  }
  .filtering-form{
    right: -235px;
  }
}
@media (max-width: 767px) {
    .center{
      padding-left: calc(50% - 343px/2);
      padding-right: calc(50% - 343px/2);
    }
    
    .header{
      padding-top: 32px;
      border-bottom: none;

      &__logo{
        width: 99px;
      }
      &__input{
        display: none;
      }
      &__nav{
        display: none;
      }
      &__nav-mobile{
        display: flex;
        gap: 32px;
      }
    }
    .greeting{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 29px;

      &__title{
        font-size: 48px;
        line-height: 59px;
        text-align: center;
      }
      
      &__text{
        font-size: 16px;
        text-align: center;
      }

      &__link{
        font-size: 14px;
      }
    }
    .for-box{
      margin-top: 32px;

      &__title{
        font-size: 24px;
        line-height: 29px;
      }
    }
    .for{
      grid-template-columns: repeat(4, 1fr);
      gap: 16px;

      &__item{
        grid-column:1/-1 ;
        height:375px ;
        font-size: 28px;
        line-height: 34px;
        &_big{
          height: 244px;
        }
      }
    }
    .catalog-box{

      &__title{
        font-size: 48px;
        line-height: 59px;
        text-align: center;
      }
    }
    .product-box{
      padding-top: 32px;

      &__title{
        font-size: 24px;
        line-height: 29px;
      }
      &__nav{
       flex-direction: column;
       gap: 14px;
      }
      &__nav-filter{
        flex-direction: column;
      }
    }
        
    .product-content-index{
      display: flex;
    }
    .product-content-catalog{
      display: flex;
    }
    .filter-button-wrapper{
      justify-content: flex-start;
    }
    .select{
      &__pop{
        max-width: 227px;
        display: none;
      }
      &__pop-mobile{
        display: block;
      }
    }
    .filtering-form{
      max-height: 990px;
      min-width: 287px;
      right: 56px;
      &__content-wrapper{
        max-height: 910px;
      }
    }
    .product-box-tovar{
      padding-top: 37px;
    }

    .product-content-index{
      row-gap: 32px;
    }
    .product{
      
      &__img{
        height: 227px;
      }
      &__name{
        font-size: 18px;
        line-height: 22px;
      }
      &__priсe{
        font-size: 18px;
        line-height: 22px;
      }
    }
    .link-box{
      padding-top: 36px;
    }
    .footer{
      margin-top: 32px;

      &__content{
        align-items: center;
        flex-direction: column;
        gap: 71px;
      }
      &__info{
        gap: 100px;
        flex-wrap: wrap;
      }
      &__from{
        gap: 8px;
        width: 100%;
        align-items: center;
      }
      &__from-text{
        width: 100%;
        text-align: center;
      }
      &__from-email{
        max-width: 260px;
        width: 100%;
      }
      &__from-button{
        max-width: 260px;
        width: 100%;
      }
    }
    
  }